body {
    margin: 0;
    background: #e4f5fde7;
}
button:hover , i:hover, input:hover{
    cursor: pointer;
}
tr {
    text-align: left;
}

th, td {
    padding-right: 2.3rem;
}

.nav-bar {
  background: #067DB7;
  height: clamp(6rem, 3rem + 4vw , 10rem);
  width: 100%;
  box-sizing: border-box;
  margin-bottom: clamp(2.5rem, 2rem + 1vw, 3rem);
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.57);
}

.nav-bar h1 {
    margin: 0;
    padding: 2rem 2rem 0px;
    color: white;
    font-size: clamp(1.7rem, 4vw, 3rem);
}