body {
    margin: 0;
    background: #e4f5fde7;
}

tr {
    text-align: left;
}

th, td {
    padding-right: 35px;
}
.color-circle {
    width: 15px;
    height: 15px;
    margin-top: 8px;
    border: 1px solid black;
    border-radius: 50%;
}

.nav-bar {
  background: #067DB7;
  height: 100px;
  margin: 0px 0px 35px;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.57);
}

.nav-bar h1 {
    margin: 0px;
    padding: 20px 30px 0px;
    color: white;
    font-size: 48px;
}